<div class="well well-sm clearfix">
  <label for="sortby">Sort By:</label> 
  <div class="form-inline pull-right">
    <select [(ngModel)]="sortby" (change)="sort()" class="form-control" name="sortby">
      <option value="name">Name</option>
      <option value="price">Price</option>
      <option value="color">Color</option>
    </select>
    
  </div>
</div>

<div class="row">
  <div *ngFor="let product of products">
    <div class="col-xs-12 col-lg-4">
      <div class="thumbnail">
        <img src="{{product.src}}" alt="" />
        <div class="caption">
            <h4>{{product.name}}</h4>
            <p>{{product.info}}</p>
            <h5>Color: <div class="color-indicator" [ngStyle]="{'background-color' : product.color, 'color' : product.color}">{{product.color}}</div></h5>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p class="lead">{{product.price | currency:'USD':true}}</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a (click)="addToCart(product)" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
