<div class="well well-sm clearfix">
  <label style="padding-top: 7px;" for="sortby">Sort By:</label> 
  <div class="form-inline pull-right">
    <select [(ngModel)]="sortby" (change)="sort()" class="form-control" name="sortby">
      <option value="name">Name</option>
      <option value="unit_price">Price</option>
    </select>
    
  </div>
</div>

<div class="row">
  <div *ngFor="let product of products">
    <div class="col-xs-12 col-lg-4">
      <div class="thumbnail">
        <img src="{{product.image_uri}}" alt="" />
        <div class="caption">
            <h4>{{product.name}}</h4>
            <p>{{product.meta_data_1}}</p>
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p class="lead">{{product.unit_price | currency:'SEK':false}}</p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <a (click)="addToCart(product)" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
